<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ag04.hackathon2020.moneyheist.mapper.HeistMapper">
	
	<resultMap type="HeistSkill" id="heistSkillResult">
		<result property="level" column="level" />
		<result property="members" column="members" />
        <association property="skill" javaType="Skill">
	        <result property="id" column="skilLId"/>
	        <result property="name" column="skillName"/>
        </association>
	</resultMap>
	
	<resultMap type="Heist" id="heistMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="location" column="location" />
        <result property="startTime" column="start_time" javaType="java.time.ZonedDateTime" />
        <result property="endTime" column="end_time" javaType="java.time.ZonedDateTime" />
        <result property="heistStatus" column="status" javaType="HeistStatus" />
        <result property="heistOutcome" column="outcome" javaType="HeistOutcome" />
  		<collection property="heistSkills" column="id" ofType="HeistSkill" select="findHeistSkillsByHeistId"/>
  		<collection property="heistMembers" column="id" ofType="Member" select="findHeistMembers"/>
	</resultMap>
	
	<select id="findHeistById" resultType="Heist" resultMap="heistMap">
		SELECT h.*
		FROM heist h
		WHERE h.id = #{id};
	</select>
	
	<select id="findHeistByName" resultType="Heist" resultMap="heistMap">
		SELECT h.*
		FROM heist h
		WHERE h.name = #{name};
	</select>
	
	<select id="findHeistSkillsByHeistId" resultType="HeistSkill" resultMap="heistSkillResult">
		SELECT hs.level AS level, s.id AS skillId, s.name AS skillName, hs.members
		FROM heist_skills hs
		INNER JOIN skill s ON hs.id_skill = s.id
		WHERE hs.id_heist = #{id}
	</select>
	
	<insert id="insertHeist" parameterType="Heist">
		<selectKey order="AFTER" keyProperty="id" resultType="long">
	    	SELECT id FROM heist WHERE name = #{name}
	  	</selectKey>
		INSERT INTO heist (name, location, start_time, end_time, status)
		VALUES (#{name}, #{location}, #{startTime, jdbcType=TIMESTAMP}, #{endTime, jdbcType=TIMESTAMP}, #{heistStatus});
		<foreach collection="heistSkills" item="hs" index="index">
			INSERT INTO heist_skills (id_heist, id_skill, level, members)
			VALUES (SELECT id FROM heist WHERE name = #{name}, #{hs.skill.id}, #{hs.level}, #{hs.members});
       	</foreach>
		<choose>
			<when test="heistMembers != null">
				<foreach collection="heistMembers" item="hm" index="index">
					INSERT INTO heistMembers (id_heist, id_member)
					VALUES (SELECT id FROM heist WHERE name = #{name}, #{hm.id});
				</foreach>
			</when>
		</choose>
	</insert>
	
	<update id="updateHeist" parameterType="Heist">
		UPDATE heist
		SET name = #{name}, location = #{location}, start_time = #{startTime, jdbcType=TIMESTAMP}, end_time = #{endTime, jdbcType=TIMESTAMP}, status = #{heistStatus}, outcome = #{heistOutcome}
		WHERE id = #{id};
		<foreach collection="heistSkills" item="hs" index="index">
			DELETE FROM heist_skills
			WHERE id_skill = #{hs.skill.id}
			AND id_heist = #{id}
			AND level = #{hs.level};
		</foreach>
		<foreach collection="heistSkills" item="hs" index="index">
			INSERT INTO heist_skills (id_heist, id_skill, level, members)
			VALUES (#{id}, #{hs.skill.id}, #{hs.level}, #{hs.members});
		</foreach>
		<choose>
			<when test="heistMembers != null">
				<foreach collection="heistMembers" item="hm" index="index">
					DELETE FROM heist_members
					WHERE id_heist = #{id};
				</foreach>
				<foreach collection="heistMembers" item="hm" index="index">
					INSERT INTO heist_members (id_heist, id_member)
					VALUES (#{id}, #{hm.id});
					UPDATE member
					SET status = #{hm.status}
					WHERE id = #{hm.id};
					<foreach collection="hm.memberSkills" item="ms">
						UPDATE member_skills
						SET level = #{ms.level}, experience = #{ms.experience}
						WHERE id_skill = #{ms.skill.id} AND
						id_member = #{hm.id};
					</foreach>
				</foreach>
			</when>
		</choose>
		DELETE FROM heist_skills
		WHERE id_heist = #{id}
		AND id_skill NOT IN
		<foreach collection="heistSkills" item="hs" index="index" open="(" separator=","  close=")">
			#{hs.skill.id}
		</foreach>
	</update>
	
	<select id="findHeistMembers" resultType="Member" resultMap="ag04.hackathon2020.moneyheist.mapper.MemberMapper.memberMap">
		SELECT m.id, m.sex, m.name, m.email, m.status, sk.id AS skillId, sk.name AS skillName, r.id AS roleId, r.value AS roleValue
		FROM heist_members hm
		INNER JOIN role r ON m.id_role = r.id
		LEFT JOIN member m ON hm.id_member = m.id
		LEFT JOIN skill sk ON m.id_main_skill = sk.id
		WHERE hm.id_heist = #{id};
	</select>
	
</mapper>